html {
    scroll-behavior: smooth;
  }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
button {
    font-family: 'Merriweather', serif;
    font-size: 3rem;

}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.calc-container {
    border: solid black;
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(4, 200px);
    grid-auto-rows: minmax(120px,auto);
    background-color: lightgray;
    grid-template-areas: 
    "display display display display"
    "seven eight nine multBtn"
    "four five six subBtn"
    "one two three addBtn"
    "zero dec eqbtn divBtn"
    ". . del clear";
}
.display {
    
    grid-column: span 4;
    border: solid black;
    text-align: right;
    justify-items: right;  
    font-size: 3rem;
    padding: 1rem;
    background-color: white;
    display: inline-block;
    word-wrap: break-word;
  }
  
  
.clear{
    grid-area: clear;
}

.op {
  background-color: grey;
  
}
.yellow {
  background-color: goldenrod;
}

.del {
  grid-area: del;
}

.zero {
  grid-area: zero;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.seven {
  grid-area: seven;
}

.eight {
  grid-area: eight;
}

.nine {
  grid-area: nine;
}

.dec {
  grid-area: dec;
}

.eqbtn {
  grid-area: eqbtn;
}

.addBtn {
  grid-area: addBtn;
}

.subBtn {
  grid-area: subBtn;
}

.multBtn {
  grid-area: multBtn;
}

.divBtn {
  grid-area: divBtn;
}