html {
    scroll-behavior: smooth;
  }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
button {
    font-family: 'Merriweather', serif;
    font-size: 3rem;

}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.calc-container {
    border: solid black;
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(3, 200px);
    grid-auto-rows: minmax(120px,auto);
    background-color: lightgray;
}
.display{
    display: flex;
    grid-column: span 3;
    border: solid black;
    align-items: center;
    justify-content: right;
    font-size: 3rem;
    padding: 1rem;
    background-color: white;

}
.clear{
    grid-column: 1/span 2;
}

